// Place all the styles related to the api::playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-pl-index {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: 900px;
    // background-color: gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 700px;
    max-width: 1000px;
    order: 1;
    color: gray;
 
}

// .pl-index-header{
//     width: 98%;
//     height: 100px;
//     background-color: pink;
// }

.playlist-index-item {
    width: 98%;
    height: 18%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.playlist-index-item:hover{
    background-color: white;
    color: orange;
}

.playlist-snip{
    height: 98%;
    width: 98%;
    // background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
   
}

.pl-image {
    height: 97%;
    width: auto;
    // background-color: green;
}

.pl-info {
    padding-left: 20px;
    height: 97%;
    width: 75%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: left;
}

// PLAYLIST PREVIEW

.playlist-preview{
    width: 99%;
    height: 10%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.playlist-preview{
    width: 99%;
    height: 100%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

a.playlist-preview:hover{
    // background-color: rgba(128, 128, 128, 0.2);
    background-color: white;
    color: orange;
}

.pl-title-box{
    width: 250px;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.playlist-blank{
    width: 99%;
    height: 10%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.play-prev-thumb{
    height: 60px;
    width: auto;
}

.delete-pl-button{
   
    width: 140px;
    height: 35px;
    // background-color: whitesmoke;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.delete-pl-button:hover{
    color: orange;
    border: 2px solid orange;
    // background-color: white;
}

// PLAYLIST SHOW

.pl-show-main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: 900px;
    background-color: whitesmoke;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 700px;
    max-width: 1000px;
    order: 1;
    color: gray;
}

.pl-show-info{
    margin-top: 7px;
    height: 25%;
    width: 98%;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

.pl-show-image{

    height: 98%;
    width: auto;
}

.pl-show-text{
    height: 98%;
    width: 65%;
    // background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.pl-songs-box{
    height: 70%;
    width: 98%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pl-song{
    width: 98%;
    height: 80px;
    // background-color: lightblue;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.song-snip{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pl-song-image{
    height: 98%;
    width: auto;
    // background-color: red;
}

.pl-song-info{
    height: 98%;
    width: 80%;
    // background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pl-song-info:hover{
    color: orange;
    background-color: white;
}

.create-pl-link{
    margin-top: 20px;
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create-pl-link:hover{
    border: 2px solid orange;
    color:orange;
    background-color: white;
}

// NEW PLAYLIST FORM

.new-pl-main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
    height: 400px;
    background-color: gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 700px;
    max-width: 1000px;
    order: 1;
    color: gray;
}

.new-pl-form{
    width: 80%;
    height: 90%;
    background-color: pink;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.pl-errors{

}

.pl-title{
    width: 200px;
    margin-left: 18px;

}



.pl-create-button{
    margin-bottom: 15px;
    width: 160px;
    height: 35px;
    background-color: whitesmoke;
    color: gray;
}

.pl-create-button:hover{
    color: orange;
    background-color: white;
}

.pl-label{
    font-size: 30px;
}