// Place all the styles related to the api::playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-pl-index {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: 900px;
    // background-color: gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 700px;
    max-width: 1000px;
    order: 1;
    color: gray;
 
}

.playlist-index-item {
    width: 98%;
    height: 18%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.playlist-index-item:hover{
    background-color: white;
    color: orange;
}

.playlist-snip{
    height: 98%;
    width: 98%;
    // background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
   
}

.pl-image {
    height: 97%;
    width: auto;
    // background-color: green;
}

.pl-info {
    padding-left: 20px;
    height: 97%;
    width: 75%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: left;
}

// PLAYLIST PREVIEW

.playlist-preview{
    width: 99%;
    height: 10%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a.playlist-preview{
    width: 99%;
    height: 100%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

a.playlist-preview:hover{
    background-color: rgba(128, 128, 128, 0.2);
    color: orange;
}

.playlist-blank{
    width: 99%;
    height: 10%;
    // background-color: red;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.play-prev-thumb{
    height: 60px;
    width: auto;
}

// PLAYLIST SHOW

.pl-show-main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: 900px;
    background-color: gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 700px;
    max-width: 1000px;
    order: 1;
    color: gray;
}

.pl-show-info{
    margin-top: 7px;
    height: 25%;
    width: 98%;
    background-color: pink;

}

.pl-songs-box{
    height: 70%;
    width: 98%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pl-song{
    width: 98%;
    height: 66px;
    background-color: lightblue;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}