// Place all the styles related to the api::songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-index {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: 90%;
    // background-color: gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 400px;
    max-width: 1000px;
}


.catagory-index-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 98%;
    height: 25%;
    // background-color: pink;
    border-radius: 3px;
    margin-bottom: 35px;
}

.catagory-text {
    height: 25%;
    width: 98%;
    // background-color: gray;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 3px;
    
}

.catagory-name{
    padding: 0 0 5px 0;
}


.song-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    // padding: 10%;
    // background-color: lightgray;
    border-radius: 3px;
}

.song {
    width: 20%;
    height: 90%;
    // background-color: whitesmoke;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
    margin: 5px 0;
    // border-radius: 6px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.song:hover{
    // background-color: rgba(128, 128, 128, 0.2);
    background-color: white;
    // width: 19.5%;
    // height: 89%;
    color:orange;
}
.main-thumb-info{
    width: 120%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.main-thumb-info > h6{
    margin: 7px 0 7px 0;
}

.song-title-idx{
    text-align: center;
    width: 100%
}

// SONG INDEX 

.main-song-index{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 66%;
    height: auto;
    color: gray;
    // background-color: gray;
    background-color: whitesmoke;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    min-width: 400px;
    max-width: 1000px;
    order: 1;
}

.song-index-header{
    margin: 10px 0;
    width: 98%;
    height: 100px;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    color: orange;
}

.sub-header{
    color: gray;
}

.song-index-item{
    margin: 10px 0;
    width: 98%;
    height: 100px;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.song-index-item:hover{
    background-color: white;
    color: orange;
}

.song-preview{
    // background-color: lightblue;
    height: 99%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
}

.song-preview-thumb{
    height: 98%;
    width: auto;
    // background-color: lightgreen;
}

.song-preview-info{
    // background-color: red;
    margin-left: 20px;
    height: 98%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: flex-start;
}

.add-to-pl{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: flex-start;
    width: 40%;
    height: 98%;
    // background-color: orange;
    color: gray;
    cursor: pointer;
}

[class*="drop-down-"]{
    width: 100%;
    height: 260px;
    background-color: whitesmoke;
    z-index: 4;
    opacity: 1;
    display: block;
    background-color: gray;
    border-radius: 7px;
    padding: 10px;
}

.add-text{

}

.drop-down-li{
    z-index: 4;
    text-align: center;
    padding: 7px 15px;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    // border: 1px solid gray;
}

.drop-down-li:hover{
    background-color: white;
    color: orange;
}

.hidden{
    display: none;
}

.press-to-play{
    background-color: orange;
    color: whitesmoke;
    border-radius: 30px;
    width: 33px;
    height: 30px;
    font-weight: 1000;
    padding: 5px;
    font-size: 20px;
}

.press-to-pause{
    background-color: orange;
    color: whitesmoke;
    border-radius: 30px;
    width: 33px;
    height: 30px;
    font-weight: 1000;
    padding: 5px;
    font-size: 20px;

}

[class*="press-to-"]:hover{
    background-color: rgba(228, 133, 10, 0.6)
}