
.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  
}

.modal-form {
    display: block;
    position: fixed;
    top: 37%;
    left: 50%;
    margin-left: -199px;
    width: 400px;
    height: auto;
    padding: 20px;
    padding-top: 90px;
    background: orange;
    z-index: 3;
    border-radius: 7px;
    border: 2px solid white;
    
}

.modal-form label {
    font-size: 23px;
    font-family: Righteous, sans-serif;
    color: bisque;
    width: 120px;
    display: inline-block
}

.modal-form label.instruction {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    padding-top: 15px;
    width: 220px;

}

#submit-container {
    width: 400px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-evenly;
}




input.submit {
    color: bisque;
    background-color: #524848;;
    padding: 3px 5px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
}

input#submit:hover {
    background-color: rgba(133, 122, 122, 0.5);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    cursor: pointer;
}

.modal-close:hover {
    color: bisque;
}



.modal-form > p {
    margin: 0 0 20px 0;
}

input:focus {
    outline: none;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
    text-decoration: none;
}

div.errors {
    display: block;
    // position: fixed;
    // top: 490px;
    // left: 50%;
    // margin-left: -220px;
    // margin-bottom: 40px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    color: red;
    font-size: 18px;
    z-index: 4;
    text-align: center;
}

button.submit {
    color: bisque;
    background-color: #524848;;
    padding: 3px 5px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
    font-family: 'Courier New', Courier, monospace;
}


button.submit:hover {
    background-color: rgba(133, 122, 122, 0.5);
}