

// play NavBar settings
#play-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 4%;
  
}

// player button animation
[class*="icon-"]:hover{
    background-color: rgba(247, 166, 60, 0.8);
    border-radius: 17px;
    // border: 1px solid #524848;
    padding: 5px;
    cursor: pointer;
    // margin: 2px;
}

// player button sizing
#play-nav img {
    width: 30px;
    height: auto;
    margin: 0 8px;

}

.player-wrapper {
    width: 66.66%;
    height: 70px;
    background-color: gray;
}

.progress-bar{
    margin-left: 15px;
    padding: 0 10px 0 10px;
    width: 33.33%;
    height: 150%;
    // background-color: pink;
    display: flex;
    align-items: center
}

.current-song-info{
    font-family: "Interstate","Lucida Grande",Arial,sans-serif;
    color:gray;
    margin-left: 25px;
    padding: 1px 10px 1px 10px;
    width: 33.33%;
    height: 165%;
    // background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}

.current-song-info:hover{
    color: orange;
}