

// play NavBar settings
#play-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 4%;
  
}

// player button animation
[class*="icon-"]:hover{
    background-color: rgba(247, 166, 60, 0.8);
    border-radius: 17px;
    // border: 1px solid #524848;
    padding: 5px;
    // margin: 2px;
}

// player button sizing
#play-nav img {
    width: 30px;
    height: auto;
    margin: 0 8px;

}

